<html>
  <head>
    <link href="/assets/css/main.css" rel="stylesheet">
  </head>
  <body>
    <a href="/">Index Page</a>
    <br></br>

    <p>Updating <strong>{{ .name }}<strong></p>
    <form action="/gif/update/{{ .index }}" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" value={{ .name }} required>
      <label for="description">Description</label>
      <input type="text" name="description" value={{ .description }} required>
      <label for="url">URL</label>
      <input type="text" name="url" value={{ .url }} required>
      <br><br>
      <input type="submit">
    </form>
  </body>
</html>
